.contact{
    display: flex;
    max-width: 1024px;
    margin: auto;

    align-items: center;
    
    height: 100%;

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1{
            font-size: 70px;
            line-height: 88px;
        }
        .item{
            h2{
                font-size: 20px;
            }
            span{
                font-weight: 300;
            }
        }
        
    }

    .formContainer{
        flex: 1;
        position: relative;

        .phonesvg{
            position: absolute;
            margin: auto;
            color: orange;
            fill: orange;
            z-index: -1;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                cursor: text;
            }
           
            button{
                background-color: orange;
                border: none;             
                padding: 10px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

   
}